.card__list_message {
    margin-top: 20px;
    text-decoration: solid underline;
}

.card_list_body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: 10px; */
}

@media screen and (max-width: 1200px) {
    .card__list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 800px) {
    .card__list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 500px) {
    .card__list {
        grid-template-columns: 1fr;
    }
}