/* form  */
form {
    display: flex;
    padding: 50px;
    font-size: 1.2em;
    font-weight: 300;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}